.loginsignup{
width: 100%;
height: 80vh;
background-color: aliceblue;
    padding-top: 100px ;

}

.loginsignup-container{
    height: 600px;
    width: 580px;
    background-color: white;
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-container h1{
    margin: 20px 0px;
 font-family:Arial, Helvetica, sans-serif ;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.loginsignup-fields input{
    height: 70px;
    width: 100%;
    font-size: 20px;
    padding-left: 20px;
    font-family: poppins;
    outline: none;
    border: 1px solid #c9c9c9;
    color: #5c5c5c;
}

.loginsignup-container button{
    width: 600px;
    height: 72px ;
    color: white;
    background-color: #ff4141;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.loginsignup-login{
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 500;
    color: #5c5c5c;

}

.loginsignup-login span{
    color: #ff4141;
font-weight: 600;
}

.loginsignup-agree{
 display: flex;
 align-items: center;
 gap: 20px;
 

}

.loginsignup-agree p{
    font-size: 18px;
    font-weight: 500;
    color: #5c5c5c;
}
